@model FrontEndBA.Models.ProfileModel.ParticipantProfileModel

@{
    ViewData["Title"] = "Participant";
}

<h2>Welcome to your profile page</h2>

<h4>On this page you can view information about your profile. If you wish you can change your email, whether or not you speak english and your password.</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveEmailParticipant">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div>
                    <label>My email address:</label>
                </div>
                <label asp-for="Email">
                    <input class="form-control" placeholder="@Html.ViewData.Model.Email.ToString()" asp-for="Email" value="@Html.ViewData.Model.Email.ToString()">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </label>
            </div>
            <label class="control-label"> Do you speak english?</label>
            <div class="form-group">
                <div class="checkbox">
                    <label class="control-label">
                        @Html.RadioButtonFor(model => model.English, true) Yes
                        @Html.RadioButtonFor(model => model.English, false) No
                    </label>
                    <span asp-validation-for="English" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Your ID is: @Model.Id.ToString()</label>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Save</button>
                <button type="button" class="btn btn-default" OnClick="ShowLabel()">Change Password</button>
                <button type="button" class="btn btn-default" onclick="location.href = '@(Url.Action("Participant", "Homepage"))'">Back</button>
            </div>
            <div style="padding-top:10px">
                <button type="button" data-toggle="modal" data-target=".confirm" class="btn btn-default">Delete Account</button>
            </div>
        </form>
    </div>
    @if (Model.ValidInput == true)
    {
        <div id="inpass" style="display: none;" class="col-md-4">
            <form asp-action="SavePasswordParticipant">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OldPassword" class="control-label"></label>
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>


                <div>
                    <button type="submit" class="btn btn-default">Save Password</button>
                </div>
            </form>

        </div>
    }
    else
    {
        <div id="inpass" class="col-md-4">
            <form asp-action="SavePasswordParticipant">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OldPassword" class="control-label"></label>
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div style="padding-top:10px">
                    <button type="submit" value="SavePasswordParticipant" class="btn btn-default">Change Password</button>
                </div>
            </form>
        </div>
    }


    <div style="text-align: right" class="col-md-4">
        <img src="~/images/PatientIcon.png" alt="Error Logo" style="width: 50%; height: 50%">
    </div>
</div>


<div class="modal fade confirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close"><span>&times;</span></button>
                <div class="modal-title"><h2>Want to delete study?</h2></div>
            </div>
            <div class="modal-body">
                <h4>Are you sure that you want to delete your account?</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" onclick="location.href = '@(Url.Action("DeleteAccountParticipant", "Profile", new { partID = Model.Id  }))'">Delete</button>
            </div>
        </div>
    </div>
</div>


@if (Model.SuccesChangePassword)
{
    <script>alert("You have successfully changed your password");</script>
}