@model FrontEndBA.Models.Studies
    
@{
    ViewData["Title"] = "Researcher";
}
<head>

</head>
<h2>Researcher homepage</h2>
<div class="container">
    <div class="row">
        <div class="col-md-5" id="right"style="background-color:white; overflow-y:scroll; height: 300px; width:95%; margin-bottom:20px; border-radius:10px;">
            <h3 class="tableTitle">All studies</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-1">
                            ID
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.allStudies.First().Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.allStudies.First().Isdraft)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var study in Model.allStudies)
                    {
                        <tr class="parantHover" onclick="location.href = '@(Url.Action("ViewStudy", "ViewStudy", new { studyID = study.IdStudy }))'">
                            <td>
                                @Html.DisplayFor(modelItem => study.IdStudy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => study.Name)
                                <br />
                                @Html.DisplayFor(modelItem => study.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => study.Isdraft)
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>


        <div class="col-md-5" style="background-color:white; overflow-y:scroll; height: 300px; width:95%; margin-bottom:20px; border-radius:10px">
            <h3 class="tableTitle">My studies</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-1">
                            ID
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.myResearcherStudies.First().Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.allStudies.First().Isdraft)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var study in Model.myResearcherStudies)
                    {
                        <tr class="parantHover" onclick="location.href = '@(Url.Action("ViewStudy", "ViewStudy", new { studyID = study.IdStudy }))'">
                            <td>
                                @Html.DisplayFor(modelItem => study.IdStudy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => study.Name)
                                <br />
                                @Html.DisplayFor(modelItem => study.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => study.Isdraft)
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <form method="GET">
        <button asp-route-data="Homepage" asp-action="AddStudyView" class="btn-default">Add study</button>
        
    </form>
</div>






