@model FrontEndBA.Models.Studies
    
@{
    ViewData["Title"] = "Researcher";
}

<h2>Researcher</h2>

<h3>All studies</h3>
<div class="col-md-5">
    <h3>All studies</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.allStudies.First().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.allStudies.First().Tag)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.allStudies.First().Isdraft)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.allStudies)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Isdraft)
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <form method="GET">
        <button asp-route-data="Homepage" asp-action="AddStudyView" class="btn-default">Add study</button>
    </form>
</div>

<div class="col-md-5">
    <h3>My studies</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.myResearcherStudies.First().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.myResearcherStudies.First().Tag)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.myResearcherStudies.First().Isdraft)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.myResearcherStudies)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Isdraft)
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>




