@model IEnumerable<BachelorBackEnd.Study>

@{
    ViewData["Title"] = "Researcher";
}

<h2>Researcher</h2>
<h3> </h3>
<table class="col-md-4">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isdraft)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.Tag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isdraft)
                </td>
            </tr>
        }

    </tbody>
</table>

