@model FrontEndBA.Models.ViewStudyModel;
@using FrontEndBA.Models.ResearcherModel.CreateStudyModel;

@{
    ViewData["Title"] = "ViewStudy";
}

<h2>View study</h2>
<div class="container" style="width: 80%;">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-5" id="right" style="background-color: white; width: 100%; border-radius:10px;">
                <h3 class="tableTitle">Study details</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-2">
                                <text class="control-label">Name of study</text>
                            </th>
                            <th>
                                <label>@Html.DisplayFor(item => item.study.Name)</label>
                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-2">
                                <text class="control-label">Abstract</text>
                            </th>
                            <th>
                                <label>@Html.DisplayFor(item => item.study.Abstract)</label>
                            </th>
                        </tr>
                        <tr class="biggerinput">
                            <th class="col-md-1">
                                <div style="margin-top: -100px">
                                    <text class="control-label">Study description</text>
                                </div>
                            </th>
                            <th>
                                <label style="height: 100px">@Html.DisplayFor(item => item.study.Description)</label>
                            </th>
                        </tr>
                    <tr>
                        <th class="col-md-2">
                            <text class="control-label">Pay pr time</text>
                        </th>
                        <th>
                            <label>@Html.DisplayFor(item => item.study.Pay) kr</label>
                        </th>
                    </tr>
                    <tr style=" border-collapse: collapse; border-spacing: 0;">
                        <th class="col-md-1">
                            <div>
                                <label style="margin-top:-500px">Location</label>
                            </div>
                        </th>
                        <th >
                            @if (Model.study.Location.Contains("www.google.com/maps/"))
                            {
                          
                            <div class="iframe-container">
                                @Html.Raw(Model.study.Location)
                            </div>
                               
                      
                            }
                            else
                            {
                            <div>
                                <text>
                                    @Html.DisplayFor(item => item.study.Location)
                                </text>
                            </div>                     
                             }
                         </th>
                     </tr>
                        <tr>
                            <th class="col-md-2">
                                <text class="control-label">Duration of study</text>
                            </th>
                            <th>
                                <label>@Html.DisplayFor(item => item.study.Duration) min.</label>
                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-2">
                                <text class="control-label">Preparation</text>
                            </th>
                            <th>
                                <label>@Html.DisplayFor(item => item.study.Preparation)</label>
                            </th>
                        </tr>
                        <tr class="biggerinput">
                            <th class="col-md-1">
                                <div style="margin-top: -100px">
                                    <text class="control-label">Eligibility requirements</text>
                                </div>

                            </th>
                            <th>
                                <label style="height: 100px">@Html.DisplayFor(item => item.study.EligibilityRequirements)</label>
                            </th>
                        </tr>

                        <tr>
                            <th class="col-md-1">
                                <text class="control-label">Can males participate in study?</text>
                            </th>
                            <th>
                                <div>
                                    @if (Model.inclusioncriteria.Male)
                                    {
                                        <label>Yes</label>
                                    }
                                    else
                                    {
                                        <label>No</label>
                                    }
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-1">
                                <text class="control-label">Can females participate in study?</text>
                            </th>
                            <th>
                                <div class="form-group">
                                    @if (Model.inclusioncriteria.Female)
                                    {
                                        <label>Yes</label>
                                    }
                                    else
                                    {
                                        <label>No</label>
                                    }
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-1">
                                <text class="control-label">Age requirements</text>
                            </th>
                            <th>
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <div style="color: lightblue;">
                                            <text class="control-label">Minimum age to participate</text>
                                        </div>
                                        <label>@Html.DisplayFor(item => item.inclusioncriteria.MinAge) years</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div style="color: lightblue;">
                                            <text class="control-label">Maximum age to participate</text>
                                        </div>
                                        <label>@Html.DisplayFor(item => item.inclusioncriteria.MaxAge) years</label>
                                    </div>

                                </div>

                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-1">
                                <text class="control-label"> Does the participant have to speak english?</text>
                            </th>
                            <th>
                                <div class="form-group">
                                    @if (Model.inclusioncriteria.English)
                                    {
                                        <label>Yes</label>
                                    }
                                    else
                                    {
                                        <label>No</label>
                                    }
                                    <span asp-validation-for="inclusioncriteria.English" class="text-danger"></span>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-2">
                                <text class="control-label">Study created</text>
                            </th>
                            <th>
                                @Html.DisplayFor(item => item.study.DateCreated)
                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-2">
                                <text class="control-label">Contact information</text>
                            </th>
                            <th>
                                @Html.DisplayFor(item => item.researcher.Email)
                            </th>
                        </tr>

                    </thead>
                </table>
            </div>
            <div class="form-group">
                @if (Convert.ToInt32(User.Claims.ElementAt(3).Value) == Model.study.IdResearcher)
                {
                    <button type="button" class="btn btn-default" onclick="location.href = '@(Url.Action("Index", "EditStudy", new { studyID = Model.study.IdStudy }))'">Edit study</button>
                    <input type="submit" value="Manage participants" class="btn btn-default" formaction="ReturnToHomePage" />
                    <input type="submit" value="Delete Study" class="btn btn-default" formaction="ReturnToHomePage" />
                    <input value="Cancel" class="btn btn-default" />
                    <input value="Send study to Participants" class="btn btn-default" onclick="location.href = '@(Url.Action("Index", "SendToParticipant", new { studyID = Model.study.IdStudy }))'" />                                                             
                                                                                                                                                                           
                }
                else
                {
                    <button type="button" class="btn btn-default" onclick="location.href = '@(Url.Action("Participant", "Welcome", new { studyID = Model.study.IdStudy }))'">Cancel</button>
                }
            </div>

        </div>
    </form>
</div>

<div class="modal fade confirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close"><span>&times;</span></button>
                <div class="modal-title"><h2>Want to delete study?</h2></div>
            </div>
            <div class="modal-body">
                <h4>Are you sure that you want to delete @Model.study.Name</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" onclick="location.href = '@(Url.Action("DeleteStudy", "ViewStudy", new { studyID = Model.study.IdStudy }))'">Delete</button>
                <button data-dismiss="modal" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>

</div>








