@model FrontEndBA.Models.ViewStudyModel;
@using BachelorBackEnd
@using FrontEndBA.Models.ResearcherModel.CreateStudyModel;

@{
    ViewData["Title"] = "ViewStudy";
}

<h2>View study</h2>
<div class="container" style="width: 80%;">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-5 CreateStudyContainer" id="right">
                <h3 class="tableTitle">Study details</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-2">
                                <text class="control-label">Name of study</text>
                            </th>
                            <th>
                                <label>@Html.DisplayFor(item => item.study.Name)</label>
                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-2">
                                <text class="control-label">Abstract</text>
                            </th>
                            <th>
                                <label>@Html.DisplayFor(item => item.study.Abstract)</label>
                            </th>
                        </tr>
                        <tr class="biggerinput">
                            <th class="col-md-1">
                                <div style="margin-top: -100px">
                                    <text class="control-label">Study description</text>
                                </div>
                            </th>
                            <th>
                                <label style="height: 100px">@Html.DisplayFor(item => item.study.Description)</label>
                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-2">
                                <text class="control-label">Pay pr time</text>
                            </th>
                            <th>
                                <label>@Html.DisplayFor(item => item.study.Pay) kr</label>
                            </th>
                        </tr>
                        <tr>
                            @if (Model.study.Location.Contains("www.google.com/maps/"))
                            {
                                <th class="col-md-1">
                                    <div style="margin-top:-270px">
                                        <text class="control-label">Location</text>
                                    </div>
                                </th>
                                <th>
                                    <div class="iframe-container">
                                        @Html.Raw(Model.study.Location)
                                    </div>
                                </th>

                            }
                            else
                            {
                                <th class="col-md-1">
                                    <div>
                                        <text class="control-label">Location</text>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <text>
                                            @Html.DisplayFor(item => item.study.Location)
                                        </text>
                                    </div>
                                </th>
                            }
                        </tr>
                        <tr>
                            <th class="col-md-2">
                                <text class="control-label">Duration of study</text>
                            </th>
                            <th>
                                <label>@Html.DisplayFor(item => item.study.Duration)</label>
                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-2">
                                <text class="control-label">Preparation</text>
                            </th>
                            <th>
                                <label>@Html.DisplayFor(item => item.study.Preparation)</label>
                            </th>
                        </tr>
                        <tr class="biggerinput">
                            <th class="col-md-1">
                                <div style="margin-top:-80px">
                                    <text class="control-label">Eligibility requirements</text>
                                </div>
                            </th>
                            <th>
                                <label style="height:80px">@Html.DisplayFor(item => item.study.EligibilityRequirements)</label>
                            </th>
                        </tr>

                        <tr>
                            <th class="col-md-1">
                                <text class="control-label">Can males participate in study?</text>
                            </th>
                            <th>
                                <div>
                                    @if (Model.inclusioncriteria.Male)
                                    {
                                        <label>Yes</label>
                                    }
                                    else
                                    {
                                        <label>No</label>
                                    }
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-1">
                                <text class="control-label">Can females participate in study?</text>
                            </th>
                            <th>
                                <div class="form-group">
                                    @if (Model.inclusioncriteria.Female)
                                    {
                                        <label>Yes</label>
                                    }
                                    else
                                    {
                                        <label>No</label>
                                    }
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-1">
                                <div style="margin-top:-70px">
                                    <text class="control-label">Age requirements</text>
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <div style="color: lightblue;">
                                            <text class="control-label">Minimum age to participate</text>
                                        </div>
                                        <label>@Html.DisplayFor(item => item.inclusioncriteria.MinAge) years</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div style="color: lightblue;">
                                            <text class="control-label">Maximum age to participate</text>
                                        </div>
                                        <label>@Html.DisplayFor(item => item.inclusioncriteria.MaxAge) years</label>
                                    </div>

                                </div>

                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-1">
                                <text class="control-label"> Does the participant have to speak english?</text>
                            </th>
                            <th>
                                <div class="form-group">
                                    @if (Model.inclusioncriteria.English)
                                    {
                                        <label>Yes</label>
                                    }
                                    else
                                    {
                                        <label>No</label>
                                    }
                                    <span asp-validation-for="inclusioncriteria.English" class="text-danger"></span>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-2">
                                <text class="control-label">Study created</text>
                            </th>
                            <th>
                                @Html.DisplayFor(item => item.study.DateCreated)
                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-2">
                                <text class="control-label">Contact information</text>
                            </th>
                            <th>
                                <label> @Html.DisplayFor(item => item.researcher.Email)</label>
                            </th>
                        </tr>

                    </thead>
                </table>
            </div>
        </div>
        <div class="form-group">
            @try
            {
                @if (User.Claims.ElementAt(1).Value == "Y" && Convert.ToInt32(User.Claims.ElementAt(3).Value) == Model.study.IdResearcher)
                {
                    <button type="button" class="btn btn-default" onclick="location.href ='@(Url.Action("Index", "EditStudy", new { studyID = Model.study.IdStudy }))'">Edit study</button>
                    <button type="button" class="btn btn-default" onclick="location.href ='@(Url.Action("ManageParticipants", "ManageParticipants", new { studyID = Model.study.IdStudy, studyName = Model.study.Name }))'">Manage participants</button>
                    <button type="button" class="btn btn-default" onclick="location.href = '@(Url.Action("Index", "SendToParticipant", new { studyID = Model.study.IdStudy }))'">Send study to Participants</button>
                    <button type="button" data-toggle="modal" data-target=".confirm" class="btn btn-default">Delete</button>
                    <button type="button" class="btn btn-default" onclick="location.href = '@(Url.Action("Participant", "Welcome", new { studyID = Model.study.IdStudy }))'">Cancel</button>
                }
                else
                {
                    <button type="button" class="btn btn-default" onclick="location.href = '@(Url.Action("Participant", "Welcome", new { studyID = Model.study.IdStudy }))'">Cancel</button>
                }
            }
            catch (Exception)
            {

            }
        </div>
    </form>
</div>

<div class="modal fade confirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close"><span>&times;</span></button>
                <div class="modal-title"><h2>Want to delete study?</h2></div>
            </div>
            <div class="modal-body">
                <h4>Are you sure that you want to delete @Model.study.Name</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" onclick="location.href = '@(Url.Action("DeleteStudy", "ViewStudy", new { studyID = Model.study.IdStudy }))'">Delete</button>
                <button data-dismiss="modal" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>








