<!DOCTYPE html>
<html>
<head>
   
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TandlægeHøjskolen</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    </environment>

    <style>
        body{
            background-color:lightgray;
        }
    </style>
</head>
<body>
    <div class="container body-content" style="background-color:whitesmoke; border-radius:10px">
        @if (!User.Identity.IsAuthenticated)
        {
        <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#002546">
            @*
                            <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Welcome" asp-action="Participant" class="navbar-brand">Welcome</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Welcome" asp-action="Participant">Login as a Participant</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Welcome" asp-action="Researcher">Login as a Researcher</a></li>
                </ul>
            </div>
        </div>
            *@
        </nav>
            <div>
                <img src="~/images/AuLogo.PNG" alt="AU Logo" width="100%" height="90" style="border-top-right-radius:10px; border-top-left-radius:10px">
            </div>
            <ul class="menu" style="border-bottom-left-radius:10px; border-bottom-right-radius:10px">
                <li style="float: left"><a class="menuItems" href="@Url.Action("Participant","Welcome")">Welcome</a></li>
                <li style="float: left"><a class="menuItems" href="@Url.Action("Researcher","Welcome")">Log in as researcher</a></li>
            </ul>
        }

        @if (User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#002546">

            </nav>
            <div>
                <img src="~/images/AuLogo.PNG" alt="AU Logo" width="100%" height="90" padding:3px" style="border-top-right-radius:10px; border-top-left-radius:10px">
            </div>
                //Checks if the user has admin rights
                if (User.Claims.ElementAt(0).Value == "Y")
                {
            <ul class="menu" style="border-bottom-left-radius:10px; border-bottom-right-radius:10px">
                <li style="float: left"><a class="menuItems" href="@Url.Action("Researcher","Homepage")">Home</a></li>
                <li style="float: left"><a class="menuItems" href="@Url.Action("Index","CreateStudy")">Create Study</a></li>
                <li style="float: left"><a class="menuItems" href="@Url.Action("Index","VerifyResearcher")">Verify researcher</a></li>
                <li style="float: right"><a class="menuItems" href="@Url.Action("logoutResearcher","welcome")">Log Out</a></li>
                <li style="float: right"><a class="menuItems" href="#Profile">My Profile</a></li>
            </ul>
                <div>
                    <label style="float:right">@User.Identity.Name (Admin)</label>
                </div>
            }
            //Checks if the user has researcher rights
            else if (User.Claims.ElementAt(1).Value == "Y")
            {
                <ul class="menu" style="border-bottom-left-radius:10px; border-bottom-right-radius:10px">
                    @{
                        var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
                        var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
                    }
                    <li style="float: left"><a class="menuItems" href="@Url.Action("Researcher","Homepage")">Home</a></li>
                    <li style="float: left"><a class="menuItems" href="@Url.Action("Index","CreateStudy")">Create Study</a></li>
                    <li style="float: right"><a class="menuItems" href="@Url.Action("logoutResearcher","welcome")">Log Out</a></li>
                    <li style="float: right"><a class="menuItems" href="#Profile">My Profile</a></li>
                </ul>
                <div>
                    <label style="float:right">@User.Identity.Name (Researcher)</label>
                </div>
            }
            //Checks if the user has participant rights
            else if (User.Claims.ElementAt(2).Value == "Y")
            {
                <ul class="menu" style="border-bottom-left-radius:10px; border-bottom-right-radius:10px">
                    <li style="float: left"><a class="menuItems" href="@Url.Action("Participant","Homepage")">Home</a></li>
                    <li style="float: right"><a class="menuItems" href="@Url.Action("logoutParticipant","welcome")">Log Out</a></li>
                    <li style="float: right"><a class="menuItems" href="#Profile">My Profile</a></li>
                </ul>
                <div>
                    <label style="float:right">@User.Identity.Name (Participant)</label>
                </div>
            }
        }

        @RenderBody()
        <hr />
        @*<footer>
            <p>&copy; 2018 - TandlægeHøjskolen</p>
        </footer>*@
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
     
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
